*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f5cac3;
    font-family:'lato';
    font-size: 16px;
}

.contenedor{
    width: 90%;
    max-width:1000px;
    overflow:hidden;
    margin:auto;
}

header{
    background-image:url('../img/unnamed.jpg');
    height:600px;
    background-size:cover;
    background-repeat:no-repeat;
}
header .menu{
    margin:30px 0;
    display:flex;
    justify-content:flex-end;
    flex-wrap: wrap;
}
header .menu a:hover{
    text-decoration: underline;
}
header .menu a{
    font-size:18px;
    font-family: 'lato';
    font-weight: 300;
    display: inline-block;
    padding:10px 0;
    margin:0 15px;
    color:#fff;
    text-decoration: none;
}
header .contenido-header{
    margin:120px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
header .contenido-header .titulo-header{
    font-size: 120px;
    text-align: center;
    color: #fff;
    text-align: center;
}

header .contenido-header .linea-header{
    width: 700px;
    margin: auto;
    height:2px;
    background: #f5cac3;
    margin-bottom:30px;
    text-align: center;
}

header .contenido-header .texto-header{
    color:#fff;
    font-weight: 300;
    margin-bottom:30px;
    font-size:20px;
    text-align: center;
}

header .contenido-header .action-header:hover{
    background: #15a4fa;
    color: #fff;
}

main .quienes{
    background: #fff;
    padding:60px 0;
}

main .quienes .quienes-titulo{
    color:#000;
    font-size: 25px;
    text-align: center;
    margin-bottom:20px;
}

main .quienes .quienes-parrafo{
    text-align: center;
    color:#000;
    font-weight: 600;
}

main .quehacemos{
    margin:60px 0;  
}
main .contenido-cajas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .quehacemos .contenido-cajas .tarjeta{
    width: 30%;
    text-align: center;
}

main .quehacemos .contenido-cajas .tarjeta .contenido-tarjeta .titulo-tarjeta{
    margin:10px 0;   
}

main .portafolio{
    background: #fff;
    padding: 60px 0;
}

main .portafolio .portafolio-textos{
    text-align: center;
    margin-bottom: 60px;
    color:#000;
    font-size: 20px;
}

main .portafolio .portafolio-textos p{
    color: #000;
    font-size: 15px;
    margin:20px 0 0 0;
}

main .portafolio .galeria{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .portafolio .galeria .fotos{
    width:30%;
    margin-bottom:20px;
}

main .portafolio .galeria .fotos img{
    width: 75%;
    height:200px;
    border-radius:10px;
}
main .portafolio .galeria .fotos img:hover{
    opacity:.6;
    cursor: pointer;

}
h4{
background:#c9e4de;
    width:150px;
    height:25px;
    padding:5px;
    margin-top:10px;
     border-radius:8px;
}
h4:hover{
background:#c9e4de;
    width:150px;
    height:25px;
    padding:5px;
    margin-top:10px;
  transform:skew(20deg,0deg);
}
.social {
position: fixed; 
left: 0;
top: 200px; 
z-index: 2000; }
 
.social ul {
list-style:none;
}
 
.social ul li a {
display: inline-block;
color:#fff;
background: #ffcdb2;
padding: 5px 15px;
text-decoration: none;
-webkit-transition:all 500ms ease;
-o-transition:all 500ms ease;
transition:all 500ms ease; 
}
 
.social ul li .icon-facebook {background:#3b5998;} 
.social ul li .icon-pinterest {background: #ae181f;}
.social ul li .icon-mail {background: #84a59d;}

.social ul li a:hover {
background: #000; 
padding: 10px 30px; 
}

footer .contacto{
    height:600px;
    background-image: url(../img/portada.gif);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}

footer .footer-textos{
    text-align:center;
    color:#000;
    font-size:25px;
    margin:50px;
}

form{
    display:flex;
    flex-direction:column;
    margin:auto;
    width:50%;   
}

footer .contacto  input[type="text"], footer .contacto  input[type="email"],
footer .contacto  textarea{
    width:100%;
    margin:5px 0;
    padding:15px 20px;
    background:none;
    border-radius:5px;
    color:#fff;
    border: 2px solid rgba(204, 204, 204, 0.383);
    font-family:'lato';
    font-weight:300;
}

footer .contacto  textarea{
    height:150px;
    max-height: 150px;
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
}
.derecha{
   display:flex;
   justify-content:flex-end;
}
footer .contacto  input[type="submit"]{
    display:block;
    width: 100px;
    margin:10px 0;
    padding:10px 15px;
    background: none;
    border:1px solid #fff;
    border-radius: 5px;
    color:#fff;
    cursor: pointer;
    float:right;

}
footer .contacto  input[type="submit"]:hover{
    background:#c9e4de;
    color:#000;
    -webkit-transform:scale(1.3,1.3);
}

.footer{
    height:200px;
    background: #fff;
}

@media screen and (max-width:760px){
    header .menu{
        justify-content: center;
    }
    header .contenido-header .texto-header{
       font-size:18px;
    }
    header .contenido-header .texto-header .desaparecer{
        display: none;
    }
}

@media screen and (max-width:630px){
    header .contenido-header .titulo-header{
        font-size:80px;
    }
    header .contenido-header .linea-header{
        width: 400px;
    }
    main .portafolio .galeria .fotos{
        width:49%;
    }
}

@media screen and (max-width: 500px){
    header .contenido-header .titulo-header{
        font-size:40px;
    }
    main .quehacemos .contenido-cajas .tarjeta{
       width: 48%;
    }
    main .contenido-cajas{
        justify-content: center
    }
    main .quehacemos .contenido-cajas .tarjeta{
        margin:20px 0;
    }
}

@media screen and (max-width: 350px){
    main .quehacemos .contenido-cajas .tarjeta{
        width:98%;
    }
    header .contenido-header .texto-header{
        font-size:15px;
    }
}
